
.appTitle, .school-title  {
  width: 100%;
  min-width:550px;
  max-width: 650px;
  left: 0;
  right: 0;
  margin-bottom: 30px;
  background: #5c5c5c;
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
  color: white;
  margin: 0 auto;
  padding: 0;

}

.app-title {

  color: white;
}

.appSkill {
  width: 100%;
  min-width:550px;
  max-width: 650px;
  left: 0;
  right: 0;
  margin-bottom: 30px;
  background: #5c5c5c;



  margin: 0 auto;
  padding: 0;


}

.app-summary {


  box-shadow: 0 1px 0 rgba(0,0,0,.25);
}

.app-skill {

  color: white;
}

.appSummary {

  width: 100%;
  min-width:550px;
  max-width: 890px;
  left: 0;
  right: 0;
  margin-bottom: 30px;
  background: #5c5c5c;
  box-shadow: 0 1px 0 rgba(0,0,0,.25);


  margin: 0 auto;
  padding: 0;




}


.search {
  width: 100%;
  font-weight: 300;
  min-width: 320px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px 30px;
  z-index: 20;
}

.search .school-title {

}

.search .search-label {
  font-weight: 400;
  font-size: 2rem;
  text-align: left;
  font-family: inherit;
}

.search .search-input {
  width: 100%;
  display: inline-block;
  font-weight: 100;
  padding: 15px;
  margin: 5px 0;
  font-size: 16px;
  color: #1f1f1f;
  border: 1px solid #C5C5C5;
  border-radius: 4px;
  outline: 0;
}


/* Project List */


.projectlist {

  width: 100%;
  min-width:320px;
  max-width: 595px;
  left: 0;
  right: 0;
  margin-bottom: 30px;
  background: #5c5c5c;
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
  z-index: 10;
  color: white;
  margin: 0 auto;
  padding: 0;
}

.skilllist {

  width: 100%;
  min-width:320px;
  max-width: 400px;
  left: 0;
  right: 0;

  background: #5c5c5c;

  margin: 0 auto;



}

.skill-info {
  width: 100%;
  min-width:320px;
  max-width: 400px;
  left: 0;
  right: 0;

  background: #5c5c5c;

  margin: 0 auto;



}

.projectlist-item {
  padding: 10px 10px 0 10px;
  border-bottom: 1px solid #999;
  opacity: .5;
  transition: all 0.3s ease-out;
}

.search-headlines {
  color: white;
}

.projectlist-item:hover {
  cursor: pointer;
  background: #cdc8b1;
  opacity: 2;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.projectlist-item:last-child  {
    border-bottom:none;
}

.schoollist {

  width: 100%;
  min-width:320px;
  max-width: 400px;
  left: 0;
  right: 0;

  background: #5c5c5c;
  box-shadow: 0 1px 0 rgba(0,0,0,.25);

  margin: 0 auto;
  padding: 0;
}

