<div class="appTitle">
    <h1 class="app-title">{{appTitle}}</h1>
</div>

<div class="appSummary">
    <h3 class="app-summary">Expert in information technology and services industry with advanced skills expected in a {{jobPosition}}</h3>
</div>
<div class="appSkill">
    <h2 class="app-skill">{{appSkill}}</h2>
</div>

<div class="skillItem cf">

<ul class="skilllist cf">

    <li class="skilllist cf"

        *ngFor="let item of skills">
        <skill-item class="content" [skill]=item></skill-item>


    </li>
</ul>
</div>

<div class="school search">
    <h2 class="school-title">{{schoolTitle}}</h2>
</div>

<ul class="schoollist cf">

    <li class="schoollist cf" *ngFor="let school of schools">
        <h2 class="school-name">{{school.name}}</h2>
        <h3 class="school-name">{{school.major}}</h3>

    </li>

</ul>

<div class="card search">
    <h2 class="search-headlines">{{projectTitle}}</h2>
    <label class="search-label">Please enter space bar to see the list of Project...Search
	 <span *ngIf="query"
      [innerHTML]="' for: ' + query"></span></label>
    <input class="search-input"
      [(ngModel)]="query" placeholder="Enter Space Bar">
</div>

<ul class="projectlist cf" *ngIf="query">

    <li class="projectlist-item cf"
        (click)="showProject(item); query=''"
              *ngFor="let item of (projects | search: query)">
       <project-item class="content" [project]=item></project-item>

    </li>

</ul>

<project-details *ngIf="currentProject" [project]="currentProject"></project-details>