/* You can add global styles to this file, and also import other style files */


body {

    background: #5c5c5c;
}





h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

